{{- /* The hero terminal. Decorative (everything it says is also on the page), so aria-hidden.
       All text is in the HTML; CSS types the commands once when JS is on and motion is allowed.
       --n = command length, --d = start delay; delays are computed here. */ -}}
{{- $steps := slice
  (dict "cmd" "whoami" "out" (printf "%s. Red teamer, security researcher, co-founder of %s." site.Params.author.name site.Params.company.name))
  (dict "cmd" "ls ~/topics" "out" "red-teaming/  maldev/  active-directory/  c2/  certs/" "dirs" true)
  (dict "cmd" "tail -n 1 ~/posts.log" "out" (printf "%s  %s" (.latest.Date.Format "2006-01-02") .latest.Title))
-}}
{{- $t := 400 -}}
<div class="shell hero__shell" aria-hidden="true">
  <div class="shell__bar"><span class="shell__dots"><i></i><i></i><i></i></span><span class="shell__title">cas@offensys: ~</span></div>
  <div class="shell__body">
    {{- range $steps }}
    {{- $n := len .cmd }}
    {{- $out := add $t (mul $n 35) 120 }}
    <p class="shell__line" style="--d:{{ $t }}ms"><span class="shell__ps1"><span class="u">cas@offensys</span>:<span class="p">~</span>$</span> <span class="shell__cmd" style="--n:{{ $n }};--d:{{ $t }}ms">{{ .cmd }}</span></p>
    <p class="shell__out{{ if .dirs }} shell__out--dirs{{ end }}" style="--d:{{ $out }}ms">{{ .out }}</p>
    {{- $t = add $out 450 }}
    {{- end }}
    <p class="shell__line" style="--d:{{ $t }}ms"><span class="shell__ps1"><span class="u">cas@offensys</span>:<span class="p">~</span>$</span> <span class="shell__cursor"></span></p>
  </div>
</div>
